<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/niste15/mdsd/Android"
			class = "org.xtext.niste15.mdsd.android.AndroidPackage"
			genModel = "model/generated/Android.genmodel" />
	</extension>
</plugin>
